@charset "utf-8";//设置此项才能编译通过有中文的注释的scss文件
/*!
Author:  前小端 
Author url: http://blog.qianxiaoduan.com
*/
@import "Globalstyle.scss";//插入外部文件：全局样式
$color:#e3262c;//定义全局主色
$bj:#eee;//定义页面灰色背景
$width:1000px;//定义网站宽度
$banner:733px;//banner高度
$left:200px;//首页左边栏宽度
$n-left:200px;//内页左边栏宽度
$nav-num:11;//导航个数
$nav-bj:#777;//导航背景颜色
$tab-left-bj:#d5d5d5;//首页tab左侧背景颜色

//可重用代码块,通过@include xxx调用 
//css3动画过渡默认时间0.2s
@mixin hover($value:.2s){-webkit-transition: all $value;-o-transition: all $value;-moz-transition: all $value;transition: all $value;}
//单行超出隐藏
@mixin overflow{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
//css3三角形 lavue值为三角形的高 value1值为三角形高跟斜边一半的比值越大三角形越高
@mixin triangle-down($value:5px,$value1:1,$value2:#fff){border-top: $value solid $value2;width: 0;height: 0;border-left: $value/$value1 solid transparent;border-right: $value/$value1 solid transparent;z-index: 0;}
@mixin triangle-right($value:3px,$value1:1,$value2:#fff) {border-left: $value solid $value2;width: 0;height: 0;border-top: $value/$value1 solid transparent;border-bottom: $value/$value1 solid transparent;z-index: 0;}
//英文大写
@mixin en{text-transform: uppercase;}  
//仿京东before效果 
@mixin before{left: -120px;width: 80px;height: 300px;top: 0;position: absolute;content: "";
background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.2),rgba(255,255,255,0));
background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.2),rgba(255,255,255,0));
transform: skewx(-25deg);-o-transform: skewx(-25deg);-moz-transform: skewx(-25deg);-webkit-transform: skewx(-25deg);}
@mixin beforeh{left:100%;@include hover(1s);}
//图片旋转动画，调用示例a{animation: filp .8s linear 1;}
@keyframes filp {
    0%{opacity: 0;transform: perspective(400px) rotate3d(0,1,0,90deg);}
    40%{transform: perspective(400px) rotate3d(0,1,0,-20deg);transition-timing-function:ease-in;}
    60%{opacity: 1;transform: perspective(400px) rotate3d(0, 1, 0, 10deg);}
    80%{transform: perspective(400px) rotate3d(0, 1, 0, -5deg);}
    100% {transform:perspective(400px);}
}

//部分全局样式
a{text-decoration:none;color:#444;
    &:hover{color: $color;}
}
.w-100{width: 100%;overflow: hidden;min-width: $width;position: relative;}
.w-100b{width: 100%;overflow: hidden;min-width: $width;background: $bj;}
.n-100{width: 100%;overflow: hidden;letter-spacing:-3px; font-size:0;}
.w-1000{width: $width;margin: 0 auto;overflow: hidden;position: relative;}//内容宽度
.logo{float: left;padding: 100px 0 0 0;width: 339px;}
.logo-r{float: left;padding-left: 220px;padding-top: 70px;}
.tel{float: right;padding-top: 100px;}//页面顶部联系电话
.n-left{width: $n-left;float: left;padding-right: 10px;}//内页左侧
.n-right{width: $width -($n-left +10px);float: left;}//内页右侧


//header部分
.header_w{background: url(../images/header_b_01.jpg);height: 248px;}
.header{width: 1180px;padding: 10px 0;overflow: hidden;margin: auto;}

//导航部分
.w-nav{width: 100%;background:rgba(0,0,0,.17);position: absolute;top: 0;left: 0;z-index: 999;height: 60px;}
.nav{width:1180px;margin: auto;height: 60px;line-height: 60px;
    ul{
        li{float: left;position: relative;text-align: center;position: relative;
            a{font-size: 15px;width: 1180px / $nav-num;display: block; color: #fff;@include hover(.3s);height:100%}
            &:hover{a{background:$color;padding-bottom: 8px;}}
        } 
        li.this{a{background:$color;padding-bottom: 8px;}}
    } 
}
.hd{text-align: center;font-size: 24px;display: block;line-height: 40px;font-weight: normal;color: $color;background: url(../images/xd_07.jpg) no-repeat center center;margin-bottom: 20px;margin-top: 60px;
    span{background: #262424;color: #fff;font-size: 18px;margin:0 5px;padding: 2px 5px;}
}
.ican{text-align: center;padding: 10px 0 30px;
    a{display: inline-block;padding:0 24px;font-size: 30px;line-height: 40px;color: #da8131;}
}
.xz{width: 220px;overflow: hidden;margin:0 15px 20px;float: left;

    p{text-align: center;font-size: 16px;line-height: 32px;padding-top: 10px;}
}
.title{text-align: center;
    h1{font-size: 34px;color: $color;line-height: 50px;font-weight: bold;}
    h2{font-size: 19px;}
    p{line-height: 25px;font-size: 16px;padding-top: 5px;}
}
.title1{margin: 40px 0 20px;
    .ts{width: $width;margin: 0 auto;border-bottom: 1px solid #d6d6d6;font-size: 24px;height: 50px;
        span{border-bottom: 1px solid #222;line-height: 50px;display: inline-block}
    }
    p{font-size: 18px;}
    
}
.cm{float: left;width: 240px;padding:5px;position: relative;
    div{width: 100%;height: 0;position: absolute;top: 0;left: 0;background:#000;background: rgba(0,0,0,.4);text-align: center;overflow: hidden;@include hover(.4s);
        span{font-size: 25px;color: #fff;display: inline-block;padding: 60px 0 20px;}
        a{display: inline-block;margin: auto;color: #fff;border: 1px solid #fff;padding: 0 10px;@include hover;line-height: 23px;
            &:hover{background: $color;}
        }
    }
    &:hover div{height: 100%;}
}
.kz{text-align: center;margin-top: 40px;margin-bottom: 20px;
    h1{font-size: 25px;line-height: 60px;position: relative;
        &:before{content: "";width: 80px;left: 50%;margin-left: -40px;border-bottom: 2px solid #d6d6d6;bottom: 0;position: absolute;}
    }
}
//tab部分
.tab-left{width: $left;float: left;padding-right: 15px;
    ul li{width: 100%;background: $tab-left-bj;border-bottom: 1px solid #fff;position: relative;
        a{display: block;width: 100%;height: 40px;line-height: 40px;text-align: center;font-size: 14px;}  
        i{@include triangle-right(10px,1.2);position: absolute;z-index: 1;top:12px ;left: 27px;} 
        &.this{background: $color; 
           a{color: #fff;}
        }
    }
}
.tab-right{width: $width - ($left + 15px);float: left;overflow: hidden;}
.tab-rightn{width: ($width - ($left + 15px))* 10;overflow: hidden;}
.tab-con{width: $width - ($left + 15px);float: left;font-size: 0;letter-spacing:-3px;}
 
//内页左侧导航
.n-tab-left{width: $n-left;
    ul{
        li{width: 100%;border-bottom: 1px solid #fff;position: relative;background: #fff;
            a{display: block;width: 100%;height: 43px;line-height: 43px;text-align: center;font-size: 15px;} 
            i{@include triangle-right(11px,1.2,#e5e2e2);position: absolute;z-index: 1;top:12px ;left: 27px;} 
            &:hover{background: $color;
                a{color: #fff;}
            }     
        }
    }
}
.gyi{width: 356px;float: left;padding:0 10px 20px 0;}
.js{float: right;width: 610px;
    span{font-size: 16px;}
    p{text-indent: 28px;padding-top: 5px;}
    a{padding: 0 20px;color: #fff;margin:15px 20px 0;display: inline-block;}
    .red{background: $color;}
    .hui{background: #666;}
}
//点击滚动
.gd{width:100%;height:auto;overflow:hidden;position:relative;
    img{width: 100%;}
}
.gd_prev{height: 70px; font-size: 40px;line-height: 70px;position: absolute;top: 50%;left: 0;z-index: 9;font-family: "宋体";background: $color;color: #fff;cursor: pointer;margin-top: -35px;}
.gd_next{height: 70px; font-size: 40px;line-height: 70px;position: absolute;top: 50%;right: 0;z-index: 9;font-family: "宋体";background: $color;color: #fff;cursor: pointer;margin-top: -35px;}
.gd_main{width:10000px;overflow:hidden;position:relative;z-index:1;
    div{width:$width - 40px;float:left;padding:  0 20px;
        span{width:(($width - 40px) / 4) - 20px;padding:0 10px;display:block;float:left;
            a{display:block;}
        }
    }
}
.gd_main_a2{width:100%;height:25px;text-align:center;line-height:25px;background: #d6d6d6;display: block}

//滚动展示默认宽度为$with宽度，小图片宽度默认为$with宽度的（1/5）-6px
.demo {background: #FFF;overflow:hidden;width: 100%; 
    img {border: 5px solid #fff;}
}
.indemo {float: left;width: 800%; overflow:hidden}
.demo1 {float: left;
    a{ display:block; width:$width / 5;float:left;margin-right:10px; 
        img{ float:left;padding:3px; border:1px solid #d6d6d6; width:($width / 5)-6px; overflow:hidden} 
        span{ float:left; font-size:12px; text-align:center; width:100%} 
    }
}
.demo2 {float: left;
    a{ display:block; width:$width / 5;float:left;margin-right:10px; 
        img{ float:left;padding:3px; border:1px solid #d6d6d6; width:($width / 5)-6px; overflow:hidden} 
        span{ float:left; font-size:12px; text-align:center; width:100%} 
    }
}

//首页下方新闻资讯
.news{width:($width - 30px)/3;float: left;
    img{width: 100%;}
    span{font-size: 16px;padding: 8px 0 5px;display: block;}
    ul{
        li{width: 100%;overflow: hidden;font-size: 14px;line-height: 28px;height: 28px;
            i{width: 4px;float: left;height: 4px;background:#444444;border-radius: 4px;margin: 14px 6px 0 5px;}
            a{float: left;width: 70%;@include overflow;}
            span{float: right;font-size: 12px;color: #777;padding: 0;}
            &:hover i{background: $color;}
        }
    }
}
.h3{font-size: 16px;}
.news1{width:($width - 30px)/3;float: left;
    img{width: 100%;}
    span{font-size: 16px;padding: 8px 0 5px;display: block;}
    ul{
        li{width: 100%;overflow: hidden;font-size: 14px;line-height: 28px;
            i{width: 15px;float: left;height: 15px;margin: 7px 6px 0 5px;}
            a{float: left;width: 91%;}
            span{float: right;font-size: 12px;color: #777;padding: 0;}
            &:hover i{background: $color;}
        }
    }
}

//友情链接
.link{width:$width - 2px;border: 1px solid #d6d6d6;margin:10px auto;overflow: hidden;padding: 10px 0;
    a{width: 120px;display: block;float: left;padding: 5px 0 5px 10px;}
}
.link:before{text-align: center;width:$left;height: 100px;content:"友情链接";float: left;line-height: 100px;font-size: 16px;border-right: 1px solid #d6d6d6;}
//底部样式
.bottom{width: 100%;padding: 20px 0 0;overflow: hidden;min-width: $width;border-top:8px solid #000 ;position: relative;}
.shd{float: left;width: 200px;text-align: center;margin-bottom: 10px;
    i{width: 52px;height: 52px;margin: auto;background-image: url(../images/i2.jpg);background-repeat: no-repeat;margin-bottom: 5px;}
    p{font-size: 12px;line-height: 20px;}
}
.w-1200{overflow: hidden;margin: auto;width: 1200px;}
.shi1{background-position: 0 0;}
.shi2{background-position: -52px 0;}
.shi3{background-position: -104px 0;}
.shi4{background-position: -156px 0;}
.shi5{background-position: -208px 0;}
.shi6{background-position: -260px 0;}
.bot1{float: left;}
.ewm{width: 100px;float: right;padding: 0 10px;position: absolute;right: 0;bottom: 0;
    p{text-align: center;}
}
.bottom1{width: 100%;padding: 10px 0;overflow: hidden;min-width: $width;z-index: 9;position: relative;
    .bot-p1{}
    .bot-p2{float: right;
        a{padding-right:10px;}
    }
}
.cnzz{text-align: center;line-height: 0;line-height: 20px;float: right;position: absolute;bottom: 0;right: 0;
    a{height: 20px;display: inline-block;vertical-align:text-top;
        i{float: left;width: 20px;}
        span{height: 20px;display: inline-block;line-height: 20px;}
    }   
}
.qq{position: fixed;top: 40%;right: 0;overflow: hidden;}

//首页banner样式 更改banner高度只需更改此文件头部定义$banner函数值
.flexslider {position: relative;width: 100%;height: $banner;overflow: hidden;zoom: 1;margin-bottom: 15px;background: #eee;
    .slides li {width: 100%;height: 100%;
         a img{width: 100%;height: $banner;}
    }
}
.flex-direction-nav{
    a {width: 70px;height: 70px;text-align:center;color:#eee;font-size:60px;line-height:70px;font-family:'宋体';overflow: hidden;margin: -35px 0 0;display: block;
      position: absolute;top: 50%;z-index: 10;cursor: pointer;opacity: 0;filter: alpha(opacity=0);-webkit-transition: all .3s ease;}
    .flex-next {right: 0;@include hover;}
    .flex-prev {left: 0;@include hover;}
}
.flexslider:hover{   
    .flex-next {opacity: 0.7;filter: alpha(opacity=70);}
    .flex-prev {opacity: 0.7;filter: alpha(opacity=70);}
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {opacity: 1;filter: alpha(opacity=100);}
.flex-control-nav {width: 100%;position: absolute;bottom: 10px;text-align: center;
    li {margin: 0 3px;display: inline-block;zoom: 1;*display: inline;}
}
.flex-control-paging li a {height: 11px;width: 11px;border-radius:11px;background:#bbb;background:rgba(0,0,0,.3);display: block;overflow: hidden;cursor: pointer;line-height: 99em;}
.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {background:$color;}

//子页新闻列表页下方分页样式
.paging{width: 100%;padding: 20px 0;text-align: center;line-height: 40px;
    a{padding: 3px 10px;font-size: 13px; margin: 0 1px;}
    .active{color: $color;background: #ddd;}
}
.paga{border:1px solid #d6d6d6;color: $color;@include hover;
    &:hover{color: #fff;background: $color;}
}
//css3文字图标
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s4ktjp');
  src:  url('fonts/icomoon.eot?s4ktjp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s4ktjp') format('truetype'),
    url('fonts/icomoon.woff?s4ktjp') format('woff'),
    url('fonts/icomoon.svg?s4ktjp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media screen and(max-width:$width){

}






