@charset "utf-8";//设置此项才能编译通过有中文的注释的scss文件
@import "Globalstyle.scss";//插入外部文件：全局样式

$color:#e61a19 !default;//定义全局主色
$bj:#ebebeb;//定义页面灰色背景
$width:1000px !default;//定义网站宽度
$banner:550px !default;//banner高度
$left:200px !default;//首页左边栏宽度
$n-left:200px !default;//内页左边栏宽度
$nav-num:9;//导航个数
$nav-bj:#0e93f8;//导航背景颜色
$tab-left-bj:#d5d5d5;//首页tab左侧背景颜色

//可重用代码块,通过@include xxx调用 
//css3动画过渡默认时间0.2s
@mixin hover($value:.2s){-webkit-transition: all $value;-o-transition: all $value;-moz-transition: all $value;transition: all $value;}
//单行超出隐藏
@mixin overflow{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
//css3三角形 lavue值为三角形的高 value1值为三角形高跟斜边一半的比值越大三角形越高
@mixin triangle-down($value:5px,$value1:1,$value2:#fff){border-top: $value solid $value2;width: 0;height: 0;border-left: $value/$value1 solid transparent;border-right: $value/$value1 solid transparent;z-index: 0;}
@mixin triangle-right($value:3px,$value1:1,$value2:#fff) {border-left: $value solid $value2;width: 0;height: 0;border-top: $value/$value1 solid transparent;border-bottom: $value/$value1 solid transparent;z-index: 0;}
//英文大写
@mixin en{text-transform: uppercase;}  
//仿京东before效果 
@mixin before{left: -120px;width: 80px;height: 300px;top: 0;position: absolute;content: "";
background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.2),rgba(255,255,255,0));
background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.2),rgba(255,255,255,0));
transform: skewx(-25deg);-o-transform: skewx(-25deg);-moz-transform: skewx(-25deg);-webkit-transform: skewx(-25deg);}
@mixin beforeh{left:100%;@include hover(1s);}

//边框动画效果1,通过js添加class属性调用
.border1{position: relative;z-index: 1;
    &:before,&:after{position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
    &:hover:before,&:hover:after{background-color: rgba(255, 0, 0, 0);content: '';z-index: -1;margin: -5%;box-shadow: inset 0 0 0 2px $color;}
    &:before {animation: border1-before 1s linear 1;}//infinite 无限循环  
    &:after {animation: border1-after 1s linear 1;} 
} 
@keyframes border1-before {
    0%{clip: rect(0px 218px 2px 218px);}
    50% {clip: rect(0px 218px 2px 0px);}
    100% {clip: rect(0px 218px 220px 0px);}
}
@keyframes border1-after {
    0%{clip: rect(218px 2px 220px 2px);}
    50% {clip: rect(218px 220px 220px 2px);}
    100% {clip: rect(0px 220.0px 220px 2px);}
} 

//部分全局样式
a{text-decoration:none;color:#444;
    &:hover{color: $color;}
}
.w-100{width: 100%;overflow: hidden;}
.w-100b{width: 100%;overflow: hidden;min-width: $width;background: $bj;}
.n-100{width: 100%;overflow: hidden;position: relative;padding: .5rem 0;}
.w-1000{width: $width;margin: 0 auto;overflow: hidden;position: relative;}//内容宽度
.logo{float: left;width: 14rem;margin-left: .5rem;margin-top: .5rem;}
.logo-r{float: left;padding-left: 50px;}
.tel{float: right;margin-top: 1.2rem;margin-right: .5rem;display: block;
    i{float: left;width: 2.8rem;margin-right: 5px;}
    p{float: left;font-size: 1.2rem;color: $color;line-height: 1.6rem;
        span{font-size:1.6rem;color: #444;}
    }
}//页面顶部联系电话
.n-tit{padding:1rem .5rem .3rem;border-bottom: 1px solid #d6d6d6;line-height: 1.5rem;overflow: hidden;margin-bottom: .5rem;
    h1{font-size: 1.5rem;}
    span{font-size: 1.1rem;color: #777;}
}
.xz{float: left;width: 31.333%;margin: 0 1% 10px;text-align: center;}
.n-con{overflow: hidden;padding: .5rem 0;}
.scrollLoading{background: url(../images/loading.gif) no-repeat center center;}
.banner{width: 100%;height: 17rem;display: block;background-size:cover;background-position: center;background-repeat:no-repeat ;}
.banner-w{width: 100%;height: 15rem;background-image: url(../images/banner1_02.jpg);background-size: cover;background-position: center;}
.n-banner{width: 100%;margin-bottom: 1rem;background-repeat: no-repeat;background-size: auto 100%;background-position: center;height: 20rem; }
.ntt{text-align: center;
    h1{font-size: 1.6rem;font-weight: normal;color: #E3262C;
        span{color: #444;}
    }
    h2{font-size: 1rem;color: #E3262C;}
    p{color: #e3262c;line-height: 2rem;font-size: 1.3rem;
        a{padding: 0 .5rem;font-size: 1.3rem;color: #E3262C;line-height: 2rem;}
    }
}

//标题部分
.h1{text-align: center;font-size: 1.5rem;line-height: 2rem;font-weight: normal;vertical-align:text-top;
    i{width: 2rem;display: inline-block;vertical-align:text-top;}
    span{vertical-align:text-top;display: inline-block;line-height: 2.3rem;}
}//首页栏目标题
.h2{text-align: center;font-size: 31px;display: block;line-height: 25px;color: #bebebe;}//首页栏目下方栏目介绍标题
.h3{font-size: 33px;line-height: 55px;text-align: center;
    span{font-size: 44px;color: $color;padding: 0 10px;}
}//首页子栏目标题
.h4{font-size: 16px;line-height: 20px;font-weight: normal;color: $color;color: #fff;}//底部导航标题
.h5{font-size: 11px;display: block;line-height: 15px;font-weight: normal;color: $color;color: #fff;@include en;}
.h6{text-align: center;font-size: 20px;line-height: 30px;color: #7d7d7d;padding: 10px 0 0 0;font-weight: normal;}
.h7{font-size: 18px;line-height: 30px;}
.h8{text-align: center;font-size: 30px;line-height: 30px;color: #fff;padding: 10px 0 10px 0;}

//导航部分
.head{width: 100%;height: 5.2rem;overflow: hidden;position: fixed;top: 0;background: rgba(255,255,255,.9);z-index: 9999;}
.content{width: 100%;padding-bottom: 4rem;padding-top: 5.2rem;}
.con{width: 100%;overflow: hidden;padding: .5rem 0;border-bottom: 1px solid #d6d6d6;}
.con1{width: 100%;overflow: hidden;padding: .8rem 0;border-bottom: 1px solid #d6d6d6;}
.nav{width: 20%;float: left;text-align: center;display: block;padding: .3rem 0;
    i{width: 4.25rem;height: 4.25rem;margin:0 auto;}
    span{font-size: 1.15rem;}
}
.span-33{width:31.333%;display:block;margin: .1rem 1%;font-size:1.2rem;@include hover;position:relative; float: left;overflow:hidden;
    a{display: inline-block;height: 100%;background: $color;font-size: 1.1rem;color: #fff;margin:.3rem 10%;text-align: center;width: 80%;}
}
.span-50{width:48%;display:block;margin: .1rem 1%;font-size:1.2rem;@include hover;position:relative; float: left;overflow:hidden;
    span{display: block;text-align: center;font-size: 1.1rem;@include overflow;}
}
.gt{width: 31.333333%;padding: .32rem 1%;float: left;}
.ch{width: 100%;margin-bottom: 1px;}
.jm{font-size: 1.5rem;text-align: center;padding: 0 0 .5rem 0;}
.jm-dh{width: 80%;background: #f9b013;display: block;border-radius:3rem ;height: 3rem;margin: 0 auto;text-align: center;color: #fff;line-height: 2.5rem;font-size: 1.4rem;
    i{width: 2rem;display: inline-block;vertical-align:text-top;}
    span{vertical-align:text-top;}
    &:visited{color: #fff;}
}
.green{color: #8ec205;}
.red{color: #fd7c01;}
.gy{margin: 0 2% 0;font-size: 1.2rem;
    img{float: left;width: 15rem;padding-right: .5rem;}
    a{font-size: 1.3rem;display: block;}
}
.gy1{margin: 0 2%;font-size: 1.2rem;line-height: 1.9rem;}
.dh-x{display: block;margin: .5rem 2%;}
.zz{float: left;width: 33.3333%;
    i{width:5rem;height: 5rem;margin: 0 auto;}
    p{font-size: 1.15rem;text-align: center;padding-top: .5rem;
        span{font-size: 1.3rem;}
    }
}
.hx{text-align: center;font-size: 1.15rem;
    span{font-size: 1.3rem;}
    a{font-size: 1.15rem;padding: 0 .3rem;}
}
.bot{background: #86888c;width: 100%;overflow: hidden;text-align: center;padding: .8rem 0;
    img{width: 8rem;margin: auto;}
    span{text-decoration: underline;font-size: 1.1rem;}   
}
.dt{color: #fff;
    a{padding:0 .3rem;color: #fff;font-size: 1.2rem;}
}
.dh-d{font-size: 1.1rem;text-align: center;color: #fff;
    a{font-size: 1.3rem;color: #fff;
        &:visited{color: #fff;}
    }
}
.dz{font-size: 1.1rem;color: #fff;line-height: 1.8rem;
    a{color: #fff;
        &:visited{color: #fff;text-decoration: underline;}
    }
}

.bottom{width: 100%;height: 4rem;position: fixed;left: 0;bottom: 0;background: rgba(250,250,250,.95);z-index: 999;}
.bottom-l{float: left;width: 25%;line-height: 1.7rem;padding-top: .5rem;
    i{width: 1.8rem;margin: 0 auto;text-align: center;}
    span{font-size: 1.15rem;display: block;text-align: center;}
}
.hd{position: relative;
    &:before{position: absolute;content: "1";top: 0;right: 0;background:#f00;width: .8rem;height: .8rem;border-radius: 50%;color: #fff;text-align: center;font-size: .4rem;line-height: .8rem;}
}
.header{float: left;line-height:5rem ;height:5rem;overflow: hidden;margin-top: .2rem;
  a{margin-left: 1rem;float: left;
      i{}
  }
  span{padding-left: 2rem;font-size: 1.6rem;line-height: 5rem;float: left;}
}
.n-gy{margin: 1rem;padding: .8rem;border: 1px dashed #d6d6d6;}
.n-gy-p1{font-size: 1.3rem;padding: 0 1rem;}
.n-gy-p2{text-indent: 1.4rem;padding: 0 1rem;font-size: 1.2rem;}
.n-cp{background: #eee;height: 3rem;margin: .5rem 0 0;
    span{display: inline-block;height: 100%;background: #f9b013;color: #fff;position: relative;padding: 0 1rem;z-index: 1;line-height: 3rem;font-size: 1.4rem;
        &:before{position: absolute;@include triangle-down(3rem,1.3,#f9b013);right:-2.3rem;top: 0;content: "";z-index: -1;}
    }
}

.n-zs-l{float: left;width: 48%;padding: .32rem 1%;
    span{display: block;height: 2.5rem;background: #efb204;color: #fff;font-size: 1.3rem;line-height: 2.5rem;text-align: center;}
}
.n-zl{height: 4rem;background: #f3f3f3;line-height: 4rem;margin-bottom: 1rem;
    span{position:relative;padding-left: 2rem;display: inline-block;font-size: 1.4rem;
        &:before{position: absolute;content: "";left: 0;top: 0;width: .5rem;background: #3699fe;height: 2.4rem;margin: .8rem 1rem;border-radius: .3rem;}
    }
    i{display: inline-block;font-size: 1.5rem;color: #fdb838;}
}
.n-pj-w{overflow: hidden;}
.n-pj{background: #f5f5f5;margin-bottom: 1rem;padding: .5rem 1rem;}
.n-pj-s{overflow: hidden;height: 6.2rem;line-height: 6.2rem;
    img{width: 4.75rem;float: left;height: 4.75rem;border-radius: 50%;display: inline-block;}
    span{font-size: 1.3rem;padding: 0 1rem;}
    i{display: inline-block;font-size: 1.5rem;color: #fdb838;float: right;}
}
.n-pj-x{font-size: 1.2rem;}
.n-pjm{background: #f5f5f5;padding: 1rem 0;margin-bottom: 1rem;}
.n-zx{border-bottom: 1px solid #d6d6d6;padding: .5rem 1rem;height: 3rem;line-height: 3.2rem;
    span{font-size: 1.5rem;}
    a{float: right;font-size: 1.2rem;color: #0E93F8;line-height: 3.5rem;}
}
.n-nx{border-bottom: 1px solid #d6d6d6;padding: 1rem;
    img{width: 8.85rem;float: left;padding-right: 1rem;}
    a{color: #0E93F8;font-size: 1.3rem;}
    p{font-size: 1.2rem;}
}
.n-zz{position: relative;text-align: center;
    .bj{position: absolute;top: 1rem;background: #d6d6d6;height: 1px;width: 100%;z-index: -1;}
    span{font-size: 1.4rem;background: #fff;padding: 0 1rem;}
    p{font-size: 1.25rem;}
    .zs{position: absolute;top: -1rem;left: .5rem;z-index: 1;width: 2.95rem;}
}
.n-cq{float: left;margin:.5rem 1%;width: 48%;background: #f6f5f5;
    span{position: relative;display: block;padding-left: 1rem;margin:.5rem;background: #f6f5f5;font-size: 1.3rem;text-align: left;
        &:before{content: "";left: 0;top: 0;width: .2rem;background: #ffa520;height: 100%;position: absolute;}
    }
    p{margin: .5rem;font-size: 1.15rem;text-align: left;line-height: 1.8rem;height: 3.7rem;overflow: hidden;}
}
.n-jm{width: 80%;margin: auto;position: relative;text-align: center;
    div{position: absolute;top: 1rem;background: #d6d6d6;height: 1px;width: 100%;z-index: -1;}
    span{font-size: 1.4rem;background: #fff;padding: 0 1rem;color: #8fc31f;}
    p{font-size: 1.2rem;}
}
.n-lx{font-size: 1.5rem;display: block;text-align: center;color: #f9b013;
    &:visited{color: #f9b013;}
}
.n-zs-x{margin: 0 .8rem; 
    table{text-align: center;font-size: 1rem;line-height: 1.5rem;}
    th{font-weight: normal;padding: 0 .1rem;}
}
.n-zs-p1{font-size: 1.3rem;}
.n-zs-p2{font-size: 1.3rem;color: #f9b013;}
.n-zs-p3{font-size: 1.2rem;text-indent: 1.4rem;}
.n-zs-p4{font-size: 1.5rem;} 
.content-xx{padding: 0 .8rem;font-size: 1.2rem;}
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1471249741'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1471249741#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1471249741') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1471249741') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1471249741#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:1.8rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangzuo1:before { content: "\e779"; }
.icon-biaoxingfill:before { content: "\e732"; }
.icon-tel:before { content: "\e603"; }
.icon-email:before { content: "\e60b"; }
.icon-address:before { content: "\e614"; }
.icon-group:before { content: "\e645"; }
.icon-biaoxing:before { content: "\e733"; }



/*---- banner ---*/
.swiper-container {
    height:15rem;
    width:100%;
    text-align:center;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    z-index:5;
}
.swiper-container2 {
    width:100%;
    text-align:center;
    position:relative;
    overflow:hidden;
    z-index:5;
    background:#fff;
}
.swiper-pagination2 {bottom: 0px;left: 0;width: 100%;} 
.swiper-wrapper {
    position: relative;
    z-index:10; width: 5000px; overflow: hidden;
}
.swiper-slide {
    position:relative;
    text-align:center;
    float:left;overflow: hidden;
}
.swiper-slide a{
    position:relative;
    width:100%;
    height:15rem;
    display:block;
    overflow:hidden;
}
.swiper-slide img{
    width:100%;
    height:auto;
    vertical-align:middle;
    position:relative;
}
.pagination{
    position:absolute;
    height:1.2em;
    width:100%;
    bottom:0.4em;
    z-index:100;

}
.pagination .swiper-pagination-switch{
    display:inline-block;
    height:0.6em;
    width:0.6em;
    background:#FFF;
    border-radius:50%;
    margin-right:1em;
}
.pagination .swiper-active-switch{
    background:#fe5e52;
}
@media only screen and (min-width: 600px) {
    .content{width: 600px;margin: auto;}

}
@media only screen and (max-width: 320px){html{font-size: 10px;} }
@media only screen and (min-width: 320px) and (max-width: 352px){html{font-size: 10px;} }
@media only screen and (min-width: 352px) and (max-width: 384px){html{font-size: 11px;} }
@media only screen and (min-width: 384px) and (max-width: 416px){html{font-size: 12px;} }
@media only screen and (min-width: 416px) and (max-width: 448px){html{font-size: 13px;} }
@media only screen and (min-width: 448px) and (max-width: 480px){html{font-size: 14px;} }
@media only screen and (min-width: 480px) and (max-width: 512px){html{font-size: 15px;} }
@media only screen and (min-width: 512px) and (max-width: 544px){html{font-size: 16px;} }
@media only screen and (min-width: 544px) and (max-width: 576px){html{font-size: 17px;} }
@media only screen and (min-width: 576px) and (max-width: 608px){html{font-size: 18px;} }
@media only screen and (min-width: 608px) and (max-width: 640px){html{font-size: 19px;} }
@media only screen and (min-width: 640px){html{font-size: 20px;} }







